
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myReservaSalaLabel" data-translate="reservaSalasApp.reservaSala.home.createOrEditLabel">Create or edit a Reserva Sala</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="form-group" ng-show="vm.reservaSala.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.reservaSala.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="reservaSalasApp.reservaSala.titulo" for="field_titulo">Titulo</label>
            <input type="text" class="form-control" name="titulo" id="field_titulo"
                    ng-model="vm.reservaSala.titulo" required
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="reservaSalasApp.reservaSala.fechaHoraInicial" for="field_fechaHoraInicial">Fecha Hora Inicial</label>
            <div class="input-group">
                <input id="field_fechaHoraInicial" name="fechaHoraInicial" type="text"
                class="form-control" readonly uib-datepicker-popup="{{dateformat}}" ng-model="vm.reservaSala.fechaHoraInicial"
                is-open="vm.datePickerOpenStatus.fechaHoraInicial" clear-text="Limpiar" close-text="Cerrar" current-text="Hoy"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaHoraInicial')">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
                <div class="" uib-timepicker ng-model="vm.reservaSala.fechaHoraInicial" hour-step="1"
                minute-step="15" min="vm.min" max="vm.max" show-spinners="false" show-meridian="true">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="reservaSalasApp.reservaSala.fechaHoraFinal" for="field_fechaHoraFinal">Fecha Hora Final</label>
            <div class="input-group">
                <input id="field_fechaHoraFinal" name="fechaHoraFinal" type="text"
                class="form-control" readonly uib-datepicker-popup="{{dateformat}}" ng-model="vm.reservaSala.fechaHoraFinal"
                is-open="vm.datePickerOpenStatus.fechaHoraFinal" clear-text="Limpiar" close-text="Cerrar" current-text="Hoy"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaHoraFinal')">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
                <div uib-timepicker ng-model="vm.reservaSala.fechaHoraFinal" hour-step="1"
                minute-step="15" min="vm.min" max="vm.max" show-spinners="false" show-meridian="true">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="reservaSalasApp.reservaSala.descripcion" for="field_descripcion">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                    ng-model="vm.reservaSala.descripcion"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="reservaSalasApp.reservaSala.estado" for="field_estado">Estado</label>
            <select class="form-control" name="estado" ng-model="vm.reservaSala.estado" id="field_estado">
                <option value="Reservada" data-translate="reservaSalasApp.Estado.Reservada">Reservada</option>
                <option value="Cancelada" data-translate="reservaSalasApp.Estado.Cancelada">Cancelada</option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="reservaSalasApp.reservaSala.sala" for="field_sala">Sala</label>
            <select class="form-control" id="field_sala" name="sala" required ng-model="vm.reservaSala.sala" ng-options="sala as sala.nombre for sala in vm.salas track by sala.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="reservaSalasApp.reservaSala.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.reservaSala.user" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
