
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySalaLabel" data-translate="reservaSalasApp.sala.home.createOrEditLabel">Create or edit a Sala</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.sala.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.sala.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="reservaSalasApp.sala.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                    ng-model="vm.sala.nombre"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="reservaSalasApp.sala.ubicacion" for="field_ubicacion">Ubicacion</label>
            <input type="text" class="form-control" name="ubicacion" id="field_ubicacion"
                    ng-model="vm.sala.ubicacion"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="reservaSalasApp.sala.capacidad" for="field_capacidad">Capacidad</label>
            <input type="text" class="form-control" name="capacidad" id="field_capacidad"
                    ng-model="vm.sala.capacidad"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="reservaSalasApp.sala.equipamiento" for="field_equipamiento">Equipamiento</label>
            <input type="text" class="form-control" name="equipamiento" id="field_equipamiento"
                    ng-model="vm.sala.equipamiento"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="reservaSalasApp.sala.observaciones" for="field_observaciones">Observaciones</label>
            <input type="text" class="form-control" name="observaciones" id="field_observaciones"
                    ng-model="vm.sala.observaciones"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
